@if (details()) {
<div class="instructions-card">
    <div class="instructions-header">
      <h3>📝 How to Use</h3>
      <button class="close-btn" (click)="toggleInstructions()">×</button>
    </div>
    <ol>
      <li>Get your Google Sheet ID from the URL: <code>docs.google.com/spreadsheets/d/[SHEET_ID]/edit</code></li>
      <li>Make sure your sheet is published: <strong>File → Share → Publish to web</strong> (choose CSV format)</li>
      <li>Paste the Sheet ID to our url. 'URL?s=[sheetId]'</li>
    </ol>
    <p><strong>Example Sheet ID:</strong> {{sheetId()}}</p>
</div>
}
<header class="player-header">
            <div class="title-text">{{page()?.title}}</div>
            <button (click)="toggleInstructions()" class="close-button">ЗАКРИТИ ПРОГРАВАЧ</button>
        </header>
<div class="body">
    <div class="container" *ngIf="page() as p">
    <div class="header">
        <div class="logo-grid">
            <div class="dot"></div><div class="dot"></div><div class="dot"></div>
            <div class="dot"></div><div class="dot"></div><div class="dot"></div>
        </div>
        <div class="title"><span class="blue-text">{{p.title}}  </span> {{p.header}}</div>
    </div>
    <div class="input-container">
        <input type="text" class="top-input" placeholder="Введи ПІБ інструктора">
        <div class="sub-note">ЯОЧ. Працівник повинен правильно відповісти на питання та демонструвати застосування кожного пункту на практиці.</div>
    </div>
  <div class="content-grid">
    @for (section of pagedSections(); track $index) {
        <div class="section-title">
                {{section.title}}
        </div>
        @for (checkBox of section.items; track $index) {
            <div class="item">
                <input
                    type="checkbox"
                    />
                <div class="item-text">{{checkBox}}</div>
            </div>
        }
    }
</div>
<div class="footer">
        <div class="stats">
            <div class="stat-box">0 / {{page()?.sections?.length}}</div>
            <div class="stat-box">0%</div>
        </div>
        <div class="nav-controls">
            <button (click)="pageIndex.set(pageIndex() - 1)"
    [disabled]="pageIndex() === 0" class="btn-circle"><strong>&lt;</strong></button>
            <button (click)="pageIndex.set(pageIndex() + 1)"
    [disabled]="(pageIndex() + 1) * pageSize >= p.sections.length" class="btn-circle"><strong>&gt;</strong></button>
            <button class="btn-circle"><div class="btn-icon"></div></button>
        </div>
    </div>
    </div>  
</div>

<h2>Details</h2>
<table *ngIf="table()?.rows?.length">
  <thead>
    <tr>
      <th *ngFor="let col of table()!.columns">{{ col }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table()!.rows">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </tbody>
</table>
